# =========================
# Node / Frontend
# =========================
node_modules/
build/
dist/

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Python
# =========================
venv/
env/
venv310_new/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Python build
# =========================
*.egg-info/
dist/
build/

# =========================
# Coverage / testing
# =========================
coverage/
.pytest_cache/

# =========================
# Misc
# =========================
*.sqlite3