SECRET_KEY=change_this_secret_key
JWT_SECRET_KEY=change_this_jwt_secret

DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change_this_db_password
DB_NAME=edurisk_db

MYSQL_ROOT_PASSWORD=change_this_db_password
MYSQL_DATABASE=edurisk_db

RESEND_API_KEY=
FRONTEND_URL=http://localhost:3000
PUBLIC_ANALYTICS_RATE_LIMIT=60
PUBLIC_ANALYTICS_WINDOW=3600

FLASK_ENV=production